
{%- if cart != empty -%}

  {%- for item in cart.items -%}

  {%- liquid
      assign price = item.price
      assign money_price = price | money
      if settings.currency_code_enabled
        if shop.currency == 'USD'
          assign currency_symbol = '$'
        elsif shop.currency == 'EUR'
          assign currency_symbol = '€'
        elsif shop.currency == 'GBP'
          assign currency_symbol = '£'
        else
          assign currency_symbol = shop.currency
        endif
    
        assign money_price = price | divided_by: 100 | append: currency_symbol
      endif
    
  -%}
    <div id="cart-notification-product-{{ item.key }}" class="cart-item cart-notification-product product-template">
      {%- if item.image -%}
        <div class="cart-notification-product__image global-media-settings color-scheme-2">
          <img
            src="{{ item.image | image_url: width: 140 }}"
            alt="{{ item.image.alt | escape }}"
            width="100"
            height="{{ 100 | divided_by: item.image.aspect_ratio | ceil }}"
            loading="lazy"
          >
        </div>
      {%- endif -%}
      <div>
        {%- if settings.show_vendor -%}
          <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
        {%- endif -%}
        <h3 class="cart-notification-product__name h4">{{ item.product.title | escape }}</h3>
        <dl>
          {%- unless item.product.has_only_default_variant -%}
            {%- for option in item.options_with_values -%}
              <div class="product-option">
                <p>{{ option.name }}:</p>
                <dd>{{ option.value }}</dd>
              </div>
            {%- endfor -%}
          {%- endunless -%}
          {%- for property in item.properties -%}
            {%- assign property_first_char = property.first | slice: 0 -%}
            {%- if property.last != blank and property_first_char != '_' -%}
              <div class="product-option">
                <dt>{{ property.first }}:</dt>
                <dd>
                  {%- if property.last contains '/uploads/' -%}
                    <a href="{{ property.last }}" class="link" target="_blank">
                      {{ property.last | split: '/' | last }}
                    </a>
                  {%- else -%}
                    {{ property.last }}
                  {%- endif -%}
                </dd>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </dl>
        <!-- Precio Item Carrito -->
        <div class="product-option">
          {{ money_price }}
        </div>
        <div class="options-container">
          <!-- Dropdown para seleccionar la cantidad -->
          <select id="quantity-{{ item.key }}" class="quantity-selector" data-line="{{ forloop.index }}">
            {% for i in (1..10) %}
              <option value="{{ i }}" {% if item.quantity == i %}selected{% endif %}>{{ i }}</option>
            {% endfor %}
          </select>

          <!-- Botón para eliminar el artículo -->
          <cart-remove-button
            id="Remove-{{ item.index | plus: 1 }}"
            data-index="{{ item.index | plus: 1 }}"
          >
            <a
              href="{{ item.url_to_remove }}"
              class="button button--tertiary remove-item-js"
              aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
            >
              {% render 'icon-remove' %}
            </a>
          </cart-remove-button>
        </div>
        

        {%- if item.selling_plan_allocation != null -%}
          <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
        {%- endif -%}
      </div>
    </div>
  {%- endfor -%}
{%- endif -%}
