
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-dynamic-products.css' | asset_url | stylesheet_tag }}


<div id="web-container" class="custom-grid-section slider-mobile-gutter page-width page-width-desktop scroll-trigger animate--slide-in">

  {% for block in section.blocks %}

    <div class="row {% if block.settings.column_2_type == 'image'%} row-image{% endif %}">
      <div class="row-title-container">
        <h3 class="row-title">{{ block.settings.row_title }}</h3>
        <h4 class="row-sub-title">{{ block.settings.row_sub_title }}</h4>
      </div>

      <!-- Columna 1 -->
      <div class="column">

        {% if block.settings.product_1 != blank %}
          <!-- Producto 1 -->
          {% render 'card-dynamic-product-web', card_product: block.settings.product_1 %}
        {% endif %}
      </div>

      <!-- Contenido Producto 1 -->
      {% render 'card-dynamic-product-description', product: block.settings.product_1 %}

      
      

      <!-- Columna 2 -->
      <div class="column 
        {% if block.settings.column_2_type == 'full_image'%}column-full-imagen
        {% endif %}">

        {% if block.settings.column_2_type == 'product' and block.settings.product_2 != blank %}
          <!-- Producto 2 -->
          {% render 'card-dynamic-product-web', card_product: block.settings.product_2 %}

        {% elsif block.settings.column_2_type == 'image' and block.settings.image_2 %}
          <!-- Imagen 2 -->
          {% render 'card-dynamic-image-web', card_image: block.settings.image_2 %}

        {% elsif block.settings.column_2_type == 'full_image' and block.settings.full_image_2 %}
          <!-- Full Imagen 2 -->
          {% render 'card-dynamic-full-image-web', card_image: block.settings.full_image_2 %}

        {% endif %}
      </div>

        
       <!-- Contenido Producto 2 -->
      {% if block.settings.column_2_type == 'product' %}  
        {% render 'card-dynamic-product-description', product: block.settings.product_2 %} 
      {% elsif block.settings.column_2_type == 'image' %}
        {% render 'card-dynamic-product-description', product: "" %}
      {% endif %}
       
     

      <!-- Columna 3 -->
      {% if block.settings.column_2_type != 'full_image' and block.settings.product_2 != blank %}
        <div class="column">

          {% if block.settings.image_3 %}
            <!-- Imagen 3 -->
            {% render 'card-dynamic-image-web', card_image: block.settings.image_3 %}
          {% endif %}
        </div>
      {% elsif block.settings.column_2_type == 'image' and block.settings.image_2 %}
        <!-- No hay columna 3 si la columna 2 tiene una imagen -->
      {% endif %}

    </div>
  {% endfor %}
</div>


{% schema %}
{
  "name": "Productos Web",
  "settings": [
    {
      "type": "checkbox",
      "default":false,
      "id": "use_metafield",
      "label": "Usar metafield de productos"
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Fila",
      "settings": [
        {
          "type": "text",
          "id": "row_title",
          "label": "Título de la Fila"
        },
        {
          "type": "text",
          "id": "row_sub_title",
          "label": "Sub Título de la Fila"
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Seleccionar producto para columna 1"
        },
        {
          "type": "select",
          "id": "column_2_type",
          "label": "Columna 2 - Producto o Imagen",
          "options": [
            { "value": "product", "label": "Producto" },
            { "value": "image", "label": "Imagen" },
            { "value": "full_image", "label": "Imagen Completa" }
          ]
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Seleccionar producto para columna 2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Seleccionar imagen para columna 2"
        },
        {
          "type": "paragraph",
          "content": "Nota: El formato de la imagen debe ser de 300x380 o 840x380."
        },
        {
          "type": "image_picker",
          "id": "full_image_2",
          "label": "Seleccionar imagen completa para columna 2"
        },
        {
          "type": "paragraph",
          "content": "Nota: El formato de la imagen debe ser de 840x380."
        },
        {
          "type": "select",
          "id": "column_3_type",
          "label": "Columna 3 - Imagen",
          "options": [
            { "value": "image", "label": "Imagen" }
          ]
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Seleccionar imagen para columna 3"
        },
        {
          "type": "paragraph",
          "content": "Nota: El formato de la imagen debe ser de 300x380."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Productos Web",
      "category": "Secciones Personalizadas"
    }
  ]
}
{% endschema %}

